<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:\internal-log.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="AsyncServerSite" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="ServerSite" fileName="${basedir}/Logs/log-website-${shortdate}.log" layout="[${uppercase:${level}}] [${longdate}] [${logger}] [${gdc:item=VersionApp}] [${gdc:item=AppName}] [${gdc:item=ProcessID}] ${message} ${exception:format=tostring} url: ${aspnet-request-url} action: ${aspnet-mvc-action}" />
    </target>

    <target name="AsyncTaskEngine" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="Transbank" fileName="${basedir}/Logs/log-console-${shortdate}.log" layout="[${uppercase:${level}}] [${longdate}] [${logger}] [${gdc:item=VersionApp}] [${gdc:item=AppName}] [${gdc:item=ProcessID}] ${message} ${exception:format=tostring} url: ${aspnet-request-url} action: ${aspnet-mvc-action}" />
    </target>

  </targets>

  <rules>
    <logger name="WebSite" minlevel="Trace" writeTo="AsyncServerSite" />
    <logger name="ConsoleTask" minlevel="Trace" writeTo="AsyncTaskEngine" />

    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="AsyncServerSite" final="true" />

    <logger name="Microsoft.*" maxlevel="Info" final="true" />

  </rules>
</nlog>